[Unit]
Description=wmod autohotspot service
After=multi-user.target
[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=wmod -service
[Install]
WantedBy=multi-user.target